.row{
    background-color: black;
}
h1 {
    text-align: center;
}
#pant{
    padding: 50px;
    text-align: right;
    background-color: greenyellow;
    border-radius: 10px 10px 0px 0px;
}
#output{
    text-align: right;
    @media (min-width: 1000px) {
        text-align: left;
    }
    padding: 30px;
    background-color: lightgray;
    border-radius: 0px 0px 50px 50px;
}
.subcontainer{
    position: relative;
    text-align: center;
}
.overlay1{
    position: absolute;
    top: 8px;
    left: 40px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    color: rgba(0,0,0,0.4);
}
.overlay2{
    position: absolute;
    top: 8px;
    left: 40px;
    @media (min-width: 1000px) {
        left: 88%;
    }
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    color: rgba(0,0,0,0.4);
}
.separator{
    color: rgba(0,0,0,0);
}
.col-3{
    text-align: center;
}
.other {
    background-color: blue;
    color: white;
}
.more {
    background-color: rgb(212, 212, 0);
}
.num {
    background-color: darkgray;
}
button{
    font-family: "Josefin Sans", sans-serif;
    font-size: larger;
    width: 100%;
    padding: 16px;
    border-radius: 50px;
}